body{
    font-family: arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 101;
}

.logo{
    color: #fff;
    font-size: 19px;
    line-height: 60px;
    float: left;
-webkit-animation: coming 2s ease;
-o-animation: coming 2s ease;
animation: coming 2s ease;
    
}
@keyframes TitleMove{
    from {
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.menu{
    float: left;


}
.menu li a{
    transition: all 0.1s; 
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}
.menu li a:visited {
    color: white;
}
.menu li a:hover {
    color: orange ;
    
}
.white-btn:visited {
    color: white;
}
.menu li a:active {
     transform: scale(1.1);
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 25px;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-animation: TopShift 0.4s ease forwards;
    -o-animation: TopShift 0.4s ease forwards;
    animation: TopShift 0.4s ease forwards;  
    opacity: 0;
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/Boy.png) no-repeat 90% 100%/auto 85% , url(../img/First%20fon.jpg) top/cover no-repeat;
}
.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: TitleMove 1s ease forwards;
    -o-animation:TitleMove 1s ease forwards;
    animation: TitleMove 1s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay:2.4s ;
    animation-delay:2.4s ; 
}
.title__container h1{
    font-family: Arial,sans-serif;
    font-size: 50px;
    font-weight: 600;
}
@media (max-width:991px) {
    .title__container,title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
         -webkit-animation-delay: 1s;
    -o-animation-delay: 1s ;
    animation-delay: 1s ;
    }
    .main {
        position: relative;
    }
    .main::after {
       content: "";
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        background: rgba(0,0,0,0.4)
    }
    
}
@media (max-width:525px) {
    .Information1 p, .Information1 span, .Information1 h2, .Information1 input  {
        color: white;
          position: relative;
        z-index: 5;
    }
    .Information1 {
        position: relative;
    }
    .Information1::after {
        content: "";
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        background: rgba(0,0,0,0.4)
    }
}
.title__container input {
    transition: all 0.1s;
    transform: scale(1);
}
.title__container input:hover {
    background: #344051;
    color: white;
}
.title__container input:active {
    transform: scale(1.1)
}
.title__container h4{
    margin-top: 25px;
    font-size: 20px;
}
@keyframes coming {
    from {
        opacity: 0;
    }
    to {
    opacity: 1;
    }
}
@keyframes TopShift {
    from{
        opacity: 0;
        margin-top: -100px;
    }
    to {
        opacity: 1;
        margin-top: 0px;
    }
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 550;
    padding: 0px 16px;
    margin: 30px 14px;
    background: none;
}
.Information1 {
    width: 100%;
    height: 100%;
    background:  url(../img/AboutMeBoy.png) no-repeat;
    background-position: 55% 50%;
    color: #263244;
    
}

.Information1 h2{
  
    font-size: 25px;
    font-weight: 600;
    
}
@media (max-width:576px){
    .lineABME,.Information1 h2, .INPTINF1, .KeysH2 , .WCIDH2 {
        padding-left: 40%;
    }
}
.lineABME {
  
    margin-top: 10px;
    margin-bottom: 10px;
}
.Information1 p{
    padding-top: 350px;
   
    
    font-weight: 550;
      word-break: break-all;
    
     
}
.Information1 span{
   
    font-weight: 550;
    word-break: break-all;
    margin-top: 10px;
     
    display: block;

}
.Information1 input{
    height: 25px;
    text-align: right;
    border: 2px solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 550;
    padding: 0px 10px 0px 25px;
    background: url(../img/download.png) 4%/14px no-repeat ; 
     transform: scale(1)
}
.Information1 input:hover {
  transform: scale(1.1);
box-shadow: 0 0 10px rgba(0,0,0,0.5);
      
}
.InformationBG {
    width: 100%;
    height: 100%;
    background: url(../img/WhatCanIDo.jpg)  center/cover no-repeat;
    
}
.Information h2{
   padding-top: 100px;
    font-size: 25px;
    font-weight: 600;
    color: #263244;
}
.Web_Disgn {
    float: left;
}
.Craft{
    float: left;
}
.CEOopt {
    float: left;
}
.Marcs {
    float: left;
}
.Information h4 {
    font-size: 19px;
    color: #cf7600;
    position: relative;
    left: 25%;
}
.Information span{
    display: block;
    width: 300px;
    height: 30px;
    margin-top:10px;
   
}
.Marcs {
    float: left;
    position: relative;
    bottom: 3px;
}
.List {
    margin-top: 20px;
}
.List img {
    margin-top: 10px;
    position: relative;
    left: 37%;
}
.BGKeys {
    background: #fcfdfd;
}
.Keys {
    background: #fcfdfd;
}
.Keys h2 {
   padding-top: 100px;
    font-size: 30px;
    font-weight: 650;
    color: #263244
}
#Bottomkeys{
    color: #3f495a;
    font-weight: 550;
}
#TamplateKeys {
   
    margin-top: 10px;
}
.Keys h3 {
    font-size: 20px;
    color: #263244;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.Keys input{
 height: 40px;
    width: 205px;
    text-align: center;
    border: 2px solid;
    border-radius: 7px;
    padding: 5px;
    margin: 10px 0px;
   text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background: #63b5ae;
     display: inline-block;
    transform: rotate(0deg) scale(1);
    
}
.Keys input:hover {
    transform: scale(1.1) rotate(10deg);
    margin-top: 20px; 
}
.Keys h4{
    font-size: 20px;
    color: #263244;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ClientAndWb{
    color: #3f495a;
    margin-top: 10px;
   
}
#NameProject {
margin: 10px;
    padding: 10px;
   color: #3f495a;
}
@media (min-width:768px) {
    .ClientWbFl {
        float: left;
    }
}
#Client {
    color: #3f495a;
    margin-top: 10px;
}
.PayCalculatorBG {
   background: url(../img/AboutMeBG.jpg) center/cover no-repeat;
}
.PayCalculator {
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
.PayCalculator h2{
    
    font-size: 30px;
    font-weight: 650;
    color: #263244;
}
.PayCalculator h3 {
    font-size: 25px;
    margin-top: 20px;
    font-weight: 600;
    color: #383e49;
}
.PayCalculator select {
    margin: 10px 0px;
    width: 70%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    background: #eeeeee;
    color: #1c2534;
}
.Def {
    color: #7d7d7d;
}
@media (max-width:768px){
    #LineBottomPayCalc { 
    width: 300px;       
}

.PayCalculator p{
    font-size: 20px;
    color: #1c2534;
    font-weight: 600
    
}
.Stat {
    background: url(../img/BGStat.jpg) center/cover no-repeat;
  
}
.Stat h2 {
    padding-left: 550px;
   padding-top: 100px;
    font-size: 30px;
    font-weight: 650;
    color: #263244;
}
.Stat span{
    font-size: 20px;
    font-weight: 700;
   padding-left: 145px;
}
.Smile {
    float: left;
}
#HappyClient {
 position: relative;
    left: 5px;
    bottom: 20px;
}
#HappyZero {
    position: relative;
    right: 5px;
    bottom: 10px;
}
.WorkTime {
    float: left;
}
.ProjectFinish {
    float: left;

}
.ListStat img{
    margin-top: 30px;
    padding-left: 135px;
    margin-left: 100px;
    margin-bottom: 20px;
        
}
.ListStat p{
    margin-left: 30px;
    padding-left: 230px;
}
#Goblet1 {
    padding-left: 1200px;
    position: relative;
    right: 2.5px;
}
#Brackets {
    padding-left: 85px;

    

}
#Goblet2 {
    padding-left: 110px;
    position: relative;
    right: 5px;
}
#Brackets1 {
    padding-left: 180px;
}
#Tick {
    position: relative;
    right: 15px;
}
#Tick1 {
    position: relative;
    right: 20px;
}
.Reviews {
 background: url(../img/AboutMeBG.jpg) center/cover no-repeat;
}
.Reviews h2{
    padding-left: 640px;
   padding-top: 100px;
    font-size: 30px;
    font-weight: 650;
    color: #263244
}
#ManReviews {
    padding-left: 650px;
}
.Reviews p{
    text-align: center;
    width: 800px;
    height: 160px;
    margin-left: 150px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.Reviews span {
    text-align: center;
    margin-left: 590px;
    margin-top: 20px;
   
   
}
.Dot {    
margin-left: 680px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.Dot1 {
    margin-top: 20px;
     margin-bottom: 20px;
}
.Contact {
    height: 100%;
    width: 100%;
    background: url(../img/ContacrBG.jpg) center/cover no-repeat;
}
.Contact h2{
     padding-left: 600px;
   padding-top: 100px;
    font-size: 30px;
    font-weight: 650;
    color: white;
}
.Contact p{
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding-left: 400px;
}
.Contact h3 {
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-left: 50px;
}
.Contact input{
        height: 30px;
    color: black;
    background:#d1d5db;
}
.Contact textarea {
    margin-left: 520px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 345px;
    color: black;
    background: #d1d5db;
}
.Adress {
    float: left;
}
.EmailA {
    float: left;
}
.Contact1 img {
    padding-left: 320px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#NomberPhone {
    padding-left: 1070px;
}
.Contact1 p {
    padding-left: 290px
}
.NameAndEmail {
    padding-left: 520px
}
#Send {
    margin-left: 650px;
    margin-bottom: 100px;
    background: none;
    border: 1px solid;
    border-radius: 5px;
    padding: 3px;
    font-weight: 600;
    color: white;
}
#Send:hover {
   
    background: #001428;
    color: white;
    transform: scale(1.2) rotate(-2deg)

}